*~
*.pyc
binding/python/sva/__init__.py
binding/python/sva/sva.cpp
binding/python/sva/*.so
binding/python/setup.py
binding/python/build
*.swp
CMakeLists.txt.user*
*.autosave
build
.cache/
compile_commands.json
result
